* {
    margin: 0;
    font-family: sans-serif;
}

.display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #a18aff;
}

h1 {
    font-size: 54px;
    font-weight: bold;
    color: white;
    margin: 5% 0 0;
}

.add-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 5px 15px 5px 0;
    margin-top: 40px;
}

#input-task {
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    caret-color: #a18aff;
    font-size: 20px;
    line-height: 10px;
    font-weight: normal;
    color: #717072;
}

#input-task::placeholder {
    opacity: 0.5;
}

#add-task-button {
    width: 14%;
    height: 85%;
    border: #a18aff 2px solid;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);
    color: #a18aff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#add-task-button:active {
    background-color: #a18aff;
    color: white;
}

.task-container {
    margin: 40px 0;
    width: 50%;
}

.task-container ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.checkbox-task span {
    margin-left: 10px;
}

.task-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
    margin: 10px 0;
    padding: 5px 15px;
    border-radius: 15px;
    color: #717072;
    font-size: 16px;
}

input[type="checkbox"] {
    border: #a18aff 2px solid;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.delete-btn {
    border: #a18aff solid 2px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.closeModal {
    position: absolute;
    cursor: pointer;
}

.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    display: block;
    top: -1px;
    width: 15px;
    height: 3px;
    background-color: #a18aff;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}

.delete-btn:active {
    background-color: #a18aff;
}

.delete-btn:active .closeModal::before {
    background-color: white;
}

.delete-btn:active .closeModal::after {
    background-color: white;
}

input[type=checkbox]:checked + label + span {
    text-decoration: line-through;
}

input[type=checkbox] + label + span {
    text-decoration: none;
}

.completed {
    opacity: .5;
}