@font-face {
    font-family: 'Poiret One';
    src: url('assets/PoiretOne-Regular.woff2') format('woff2'),
        url('assets/PoiretOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color: #9a82fb;
    --background: #f4f1ff;
    --shadow: 0px 10px 20px 5px rgba(44, 44, 44, .1);
}

body {
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, var(--background), var(--color));
    font-family: 'Poiret One', sans-serif;
    font-style: inherit;
    font-weight: bold;
    font-size: 18px;
}

.main {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
    padding: 50px 0;
    opacity: 1;
    transition: opacity 1s;
}

.main.loading {
   opacity: 0;
}

.header {
    margin: 0;
    font-size: 60px;
    line-height: 90px;
    color: var(--color);
}

.task-creation-form {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: var(--shadow);
    background-color: white;
}

#tasks-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 50px;
}

.task:not(:first-of-type) {
    margin-top: -50px;
}

.task.done {
    opacity: .25;
    margin: 0;
}

.task .description {
    display: block;
    padding: 10px;
}

input,
button {
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    font: inherit;
    color: var(--color);
}

.task:focus,
input:focus,
button:focus,
button:hover {
    outline: 2px solid var(--color);
}

input {
    flex-grow: 1;
}

input::placeholder {
    color: var(--color);
    opacity: .25;
}

button {
    background-color: var(--background);
    cursor: pointer;
}